<div class="navbar">
    <div class="navbar-buttons">
        <button class="navbar-button" id="listener-button">Listener Page</button>
        <button class="navbar-button" id="add-page-button">Add Songs</button>
        <button class="navbar-button" id="remove-page-button">Remove Songs</button>
        <button onclick="alert('Logging Out')" class="navbar-button" id="log-out-button">Log Out</button>
    </div>
    <input type="text" class="search-bar" placeholder="Search...">
</div>
